.socials {
  display: flex;
  align-items: center;

  &__link {
    padding: 10px;
    margin: -10px -5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .socials__link-icon {
        fill: $color-primary-light;
      }
    }
  }

  &__link-icon {
    fill: $color-primary;
    width: 24px;
    height: 24px;
    transition: .3s ease;
  }
}
