$font-primary: "Adelle Cyrillic";
$font-secondary: "Jost";

$black: #000;
$color-black: #303030;
$color-bg: #E5E5E5;
$inputDisable: #30303080;
$neptune: #7CBEB2;
$nileBlue: #184954;
$color-white: #fff;
$fountainBlue: #4DBDB0;
$outerSpace: #272F33;

$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
