$font-primary: "Adelle Cyrillic";
$font-secondary: "Jost";

$black: #000;
$color-black: #303030;
$color-bg: #E5E5E5;
$inputDisable: #30303080;
$color-white: #fff;
$color-primary: #184954;
$color-primary-dark: #272F33;
$color-primary-light: #4DBDB0;
$color-primary-lightest: #7CBEB2;

$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
